! bell
! transparency
! movement

URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Up:    \033[1;5A
URxvt*.letterSpace:         -2
URxvt*altSendsEscape:       true
URxvt*font:                 xft:DejaVu Sans Mono:size=9
URxvt*jumpScroll:           true
URxvt*lineSpace:            0 
URxvt*mouseWheelScrollPage: false
URxvt*saveLines:            30000
URxvt*scrollBar:            false
URxvt*scrollTtyKeypress:    false
URxvt*scrollTtyOutput:      true
URxvt*scrollWithBuffer:     false
URxvt*secondaryScreen:      true
URxvt*secondaryScroll:      false
URxvt*shading:              85
URxvt*skipScroll:           false
URxvt*tintColor:            #272822
URxvt*transparent:          false 
URxvt*urgentOnBell:         false

Xft.antialias:              true
Xft.autohint:               0
Xft.dpi:                    96
Xft.hinting:                true
Xft.hintstyle:              hintslight
Xft.lcdfilter:              lcddefault
Xft.rgba:                   rgb